{% extends 'core/base.html' %}

{% block title %} Add Beer to your Favourites {% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-8 bg-white p-8 border border-gray-300 rounded shadow-md">
  <h1 class="text-2xl font-semibold mb-4"> Add to your Favourites</h1>

  <form method="post" action="" class="space-y-4">
    {% csrf_token %}

    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition">Submit</button>

    {% if form.errors or form.non_field_errors %}
    <div>
      {% for field in form %}
        {{ field.errors }}
      {% endfor %}
      {{ form.non_field_errors }}
    </div>
  {% endif %}

</div>
{% endblock %}
