{% extends "core/base.html"%}
{%block title%} Reviews {%endblock%}
{% block content %}

{% comment %} This back button does not work - needs implementing {% endcomment %}
{% comment %} <a href="{% url 'marketplace:beer_show' beer.id %}" class="text-sm mb-4"> Back </a> {% endcomment %}

  {% for review in beer_reviews %}
  <div class="container border-grey-500 border-2 border-rounded">
    <br></br>
    {{ review.profile_id }} says:
    {{ review.review_content }}
    <br></br>
    Rating: {{ review.rating }}
    {{ review.beer_id }}
  </div>
  {% endfor %}

{% endblock %}
