{% extends "core/base.html"%}
{%block title%} Beers {% endblock %}
{% block content %}
{% comment %}
<div class="cover_container">
  <img src="media/beer_images/beer_feature-1.webp" alt="cover image of beer" >
</div> {% endcomment %}

  <div class="mx-auto page-container">
    <div class="grid grid-cols-4 gap-4 content-start" >
      {% for beer in beers %}
      <div class="card max-w-sm rounded overflow-hidden shadow-lg mb-6">
        <a href="{% url 'marketplace:beer_show' beer.id %}" >
          <img class="w-full" src="/media/beer_images/Beer-bottles.jpg" alt="Beer">
          <p class="center card-header text-sm mb-2 mt-2"> {{ beer.name }} </p>
        </a>
        <div class="px-6 py-4 mb-4">
          <div class="card-text">
            <div class="card-price">
              <p> £{{beer.price}} </p>
            </div>
            <div class="card-cart">
              <a href ="{% url 'marketplace:user_cart' %}" class="cart">
                <i class="fas fa-cart-shopping"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
