{% extends "core/base.html" %}

{% block title %}{{ beer.name }}{% endblock %}

{% block content %}
  <div class="p-4">
    <a href="{% url 'marketplace:beer_index' %}" class="bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-700">  <-- Back to beers </a>
  </div>

  <div class="container-sm flex flex-row justify-between rounded-xl px-10">

    <div class="max-w-xs rounded-xl basis-2/5 flex justify-center">
      <img src="{{ beer.beer_image }}" alt="{{ beer.name }}" class="mt-4 h-auto max-h-80">
    </div>

    <div class="p-4 rounded-xl basis-3/5">
      <div class="container p-4 border-2 border-blue-500">
        <h1 class="text-2xl font-bold mb-4">{{ beer.name }}</h1>
        <a href="{% url 'user_actions:add_favourite' beer.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Add to Favourites</a>


        <p>Alcohol Percentage: {{ beer.abv }}%</p>
        <p>Price: £{{ beer.price }}</p>
        <p>Rating: 0/10</p>
        <p>Description: </p>
        <p class="text-sm mb-4">{{ beer.description }}</p>
          <div>
            <a href="{% url 'user_actions:beer_reviews_index' beer.id %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">See Reviews</a>
            <a href="{% url 'user_actions:create_review' beer.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Write a Review</a>
          </div>
        <div class="mt-6">
          {% comment %} <a href="{% url 'user_actions:create_review' beer.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Write a Review</a> {% endcomment %}

          {% comment %} <a href="{% url 'user_actions:beer_reviews_index' beer.id %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">See Reviews</a> {% endcomment %}

          {% comment %} <a href="{% url 'user_actions:add_favourite' beer.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Add to Favourites</a> {% endcomment %}

          <a href="{% url 'user_actions:beer_favourites_index' beer.id %}" class="bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-700">See Favourites</a>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
