{% extends "core/base.html" %}
{%block title%} Login {% endblock %}
{% block content %}
  <div>
    <h1> Login </h1>
    <form method="post" action=".">
      {% csrf_token %}

      <div>
        <label>Username</label><br>
        {{ form.username }}
      </div>

      <div>
        <label>Password</label><br>
        {{ form.password }}
      </div>

      {% if form.errors or form.non_field_errors %}
        <div>
          {% for field in form %}
            {{ field.errors }}
          {% endfor %}
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <button type="submit">Submit</button>
  </div>
{% endblock %}
