*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

/* navigation bar ============================== */
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.03);
}
.menu{
  display: flex;
}
.menu li a{
  margin: 5px;
  padding: 5px 20px;
  color: #2e2e2e;
  font-weight: 500;
  opacity: 0.4;
  transition: all ease 0.3s;
}
.menu .active{
  opacity: 1;
}
.menu li a:hover{
  opacity: 1;
  transition: all ease 0.3s;
}
.logo{
  font-size: 2.1rem;
  color: #0e0606;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.right-elements{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-elements a{
  margin: 0px 10px;
  color: #0e0606;
}
.right-elements a:hover{
  color: #cf2728;
  transition: all ease 0.2s;
}
.content{
  padding: 6rem 6rem;
}
